@use 'sass:color';
@import "../../../assets/styles/variables.scss";
.result{
    margin: auto;
    max-width: 80%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $main-color;
    text-align: center;
    h3{
        filter: brightness(.7);
        font-size: 35px;
        @media screen and (max-width:990px){
            font-size: 25px;
            line-height: 1em;
        }
        @media screen and (max-width:400px){
            font-size:20px;
            line-height: 1em;
        }
    }
    p{
        font-size: 25px;
        font-family: $secondary-font;
        line-height: 1.1em;
        @media screen and (max-width:990px){
            font-size: 20px;
            line-height: 1.1em;
        }
        @media screen and (max-width:400px){
            font-size:15px;
            line-height: 1.1em;
        }
    }
    a{
        margin-top: 20PX;
        background-color: color.scale($main-color, $lightness: -30%);
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        padding: .5em 2em;
        border-radius: 20px;
        border: 2px solid color.scale($main-color, $lightness: -30%);
        transition: 0.3s all ease;
        &:hover{
            color: $main-color;
            background-color:  rgba($main-color, .1);

        }
    }
    mat-expansion-panel-header{
        height: auto;
        padding: 10px;
        text-align: left;
    }
    mat-panel-title{
       // width: 65%;
    }
    mat-panel-description{
        justify-content: end;
         align-items: center;
        width: 33%;
        @media screen and (max-width:990px){
           margin-right: 10px;
        }
        @media screen and (max-width:500px){
            font-size: 15px;
        }
    }
    .tr-head{
        line-height: 1.2em;
        filter: brightness(.1);
        font-size: 20px;
        @media screen and (max-width:990px){
            font-size: 17px;
            line-height: 1.2em;
        }
        @media screen and (max-width:400px){
            font-size:15px;
            line-height: 1.2em;
        }
    }
    .tr-text{
        font-size: 18px;
        font-family: $secondary-font;
        line-height: 1.4em;
        @media screen and (max-width:990px){
            font-size: 16px;
            line-height: 1.2em;
        }
        @media screen and (max-width:400px){
            font-size:14px;
            line-height: 1.2em;
        }
    }
}