$main-color:#008080;
$main-color-light:rgb(214, 247, 244);
$secondary-color:#FFA500;
$third-color:#D3D3D3;
$main-font:'Roboto', sans-serif;
$secondary-font:'Lato', sans-serif;
$third-font:'Open Sans', sans-serif;
