@use 'sass:color';
@import "../../../assets/styles/variables.scss";

section{
    //min-height: 85vh;
    background-image: url('../../../assets/images/main-bg2.png');
    background-size: cover ;
    background-position: right;
    background-repeat: no-repeat;
    @media screen and (max-width:990px){
        background-size: cover;
    }
    @media screen and (max-width:400px){
        background-size: cover;
    }
    .content{
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $main-color;
        h2{
            filter: brightness(.7);
            font-size: 35px;
            @media screen and (max-width:990px){
                font-size: 25px;
                line-height: 1em;
            }
            @media screen and (max-width:400px){
                font-size:20px;
                line-height: 1em;
            }
        }
        p{
            font-size: 25px;
            font-family: $secondary-font;
            line-height: 1.1em;

            @media screen and (max-width:990px){
                font-size: 20px;
                line-height: 1.1em;
            }
            @media screen and (max-width:400px){
                font-size:15px;
                line-height: 1.1em;
            }
        }
        a,button{
            margin-top: 20PX;
            background-color: color.scale($main-color, $lightness: -30%);
            color: white;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            padding: .5em 2em;
            border-radius: 20px;
            border: 2px solid color.scale($main-color, $lightness: -30%);
            transition: 0.3s all ease;
            @media screen and (max-width:990px){
                font-size: 20px;
                line-height: 1.1em;
            }
            @media screen and (max-width:400px){
                font-size:15px;
                line-height: 1.1em;
            }
            &:hover{
                color: $main-color;
                background-color:  rgba($main-color, .1);

            }
        }
    }

}