<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-5 mt-5">
                <div class="content">
                    <h2>Discover Your Personality</h2>
                    <p>
                        Unlock insights into your traits, emotions, and behaviors with our engaging personality test. Take the test now and embark on a journey of self-discovery.
                    </p>
                    <div>
                        <a [routerLink]="['/test']">Take test</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-7">

            </div>
        </div>
    </div>
</section>
